*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box{
    max-width: 1200px;
    border-radius: 1rem;
    margin: 2.6rem auto;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.main-box-table{
    max-width: 1200px;
    border-radius: 1rem;
    margin: 1rem auto;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 
}


.table-name{
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-col, .table-head {
    padding: 8px;
    text-align: center;
}

.table-head{
    text-align: center !important;
}