*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box{
    max-width: 1200px;
    border-radius: 1rem;
    margin: 2.5rem auto;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}